on:
  push:
    branches:
      - main

name: Build and Release
jobs:
  make:
    name: Build and Release Sileo
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          submodules: recursive

      - name: Setup Procursus Bootstrap (install)
        run: |
          wget https://apt.procurs.us/bootstraps/big_sur/bootstrap-darwin-arm64.tar.zst
          sudo gtar --preserve-permissions -xkf ./bootstrap-darwin-arm64.tar.zst -C /
          echo '/opt/procursus/sbin:/opt/procursus/bin' >> $GITHUB_PATH
          PATH=/opt/procursus/sbin:/opt/procursus/bin:$PATH sudo /opt/procursus/bin/apt update
          sudo /opt/procursus/bin/apt -V full-upgrade -y --allow-downgrades -oDpkg::Options::=--force-confdef -oDpkg::Options::=--force-confnew 
        continue-on-error: true
      
      - name: Upgrade
        run: |
          sudo /opt/procursus/bin/apt -V upgrade -y --allow-downgrades -oDpkg::Options::=--force-confdef -oDpkg::Options::=--force-confnew
    
      - name: Upgrade and install
        run: |
          sudo /opt/procursus/bin/apt install zstd apt-utils ldid xz-utils bzip2 lz4 -y --allow-downgrades -oDpkg::Options::=--force-confdef -oDpkg::Options::=--force-confnew
        
      - name: Add Procursus to PATH
        run: |
          echo '/opt/procursus/sbin:/opt/procursus/bin' >> $GITHUB_PATH

      - name: Select Correct Xcode (16.4)
        run: |
          sudo xcode-select --switch /Applications/Xcode_16.4.app

      - name: Build Sileo (iphoneos-arm64)
        run: |
          make clean package NIGHTLY=0 DEBUG=0 ALL_BOOTSTRAPS=1 SILEO_PLATFORM=iphoneos-arm64
      
      - name: Get Build Information
        id: build_info
        run: |
          DEB_PATH=$(find ./packages -name "*.deb")
          DEB_NAME=$(basename "$DEB_PATH")
          TAG_NAME=$(date +"%Y-%m-%d-%H%M%S")-$(git rev-parse --short HEAD)
          echo "deb_path=$DEB_PATH" >> $GITHUB_OUTPUT
          echo "deb_name=$DEB_NAME" >> $GITHUB_OUTPUT
          echo "tag_name=$TAG_NAME" >> $GITHUB_OUTPUT

      - name: Create GitHub Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ steps.build_info.outputs.tag_name }}
          release_name: "Sileo Build ${{ steps.build_info.outputs.tag_name }}"
          body: "Automated Sileo build."
          draft: false
          prerelease: false

      - name: Upload .deb to Release
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ${{ steps.build_info.outputs.deb_path }}
          asset_name: ${{ steps.build_info.outputs.deb_name }}
          asset_content_type: application/vnd.debian.binary-package